body {
    height: 300vh;
    margin: 0%;
    display: grid;
    background-color: #eee2db;
}

html {
    scroll-behavior: smooth;
}


span {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
}

.titleBoxText {
    color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif; 
    font-size: 50px
}
span::selection {
    background-color: rgb(77, 133, 123);
    color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #eee2db;
}

body::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #1c182b;
}


.mainblock {
    top: 25px;
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 93vw;
    height: 95vh;
    justify-self: center;
    background-image: url(grainbackground.jpg);
    background-size: 90%;
    background-position: fixed; 
    background-attachment: fixed;
}

.mainblock > .helloblock {

    /* border: 2px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 91vh;
    width: 100%;
}

.helloblock > #_hellotext {
    animation: navblocklinkAppear 1.3s normal forwards;
}

.topbar {
    display: flex;
    width: 90vw;
    height: 55px;
    justify-content: center;
    z-index: 5;
    position: fixed;
    mix-blend-mode: difference;
    justify-self: center;
}

.topbar > .nameblock {
    font-family: 'Bebas Neue', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    letter-spacing: 15px;
    width: 350px;
    height: 100%;
    animation: namefocus 2s normal forwards;
}

@keyframes namefocus {
    0% {
        scale: 110%;
        filter: blur(25px) brightness(1000%);
    }
    70% {
        scale: 100%;
    }
    100% {
        filter: blur(1px) brightness(1000%);
    }
}

.topbar > .navbar {
    width: 40vw;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100%;
    display: flex;
    transition: 1.5s;
}

.navblocklink {
    opacity: 0%;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    transition: 0.1s;
}

.navblocklink:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}


.navblocklink {
    animation: navblocklinkAppear 0.3s  normal forwards;
}

@keyframes navblocklinkAppear {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}
/* .nameblock:hover {
    border-bottom: 2px solid white;
} */

/* .navbar > .navblock {
    font-family: 'Bebas Neue', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 35px;
    width: 55px;
    height: 100%;
    transition: 0.2s;
} */

.navblock:checked {
    transform: rotateZ(90deg);
}

.sidebar {
    border-left: 2px solid rgba(66, 66, 66, 0.158);
    transform: scaleX(0%) translateY(100%);
    animation: sidebarSlidein 1.2s normal forwards;
    width: 55px;
    height: 100vh;
    justify-self: flex-end;
    background-color: #36363611;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebarHitbox {
    position: fixed;
    overflow:hidden;
    height: 100vh;
    width: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebarArrow {
    animation: ArrowFadeIn 0.5s 1s normal forwards;
    position: absolute;
    opacity: 0%;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

@keyframes sidebarSlideout {
    0% {
        transform: scaleY(0%) translateY(100%);
    }
    20% {
        transform: scaleY(100%);
    }
    100% {
        transform: scaleY(100%) translateY(0%);
    }
}

@keyframes sidebarSlidein {
    0% {
        transform: scaleY(100%) translateY(0%);
    }
    20% {
        transform: translateY(100%);
    }
    100% {
        transform: scaleY(0%) translateY(100%);
    }
}

.sidebarHitbox:hover .sidebar {
    animation: sidebarSlideout 0.5s normal forwards;
}

.sidebarHitbox:hover .sidebarArrow {
    animation: ArrowFadeOut 0.2s normal forwards;
}

@keyframes ArrowFadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes ArrowFadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.socialHub {
    height: 200px;
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.socialHub > .socialLink {
    filter: brightness(0%);
    width: 50%;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s
}

.socialLink > img {
    width: 100%;
}

.socialLink:hover{
    filter: brightness(100%);
}

#_bubble {
    /* animation: bubbleFloat 18s infinite forwards; */
    filter: blur(1px) brightness(1000%);
    scale: 100%;
    animation: namefocus 4s ease-in-out normal, bubbleSpin 20s 4s infinite ease-in-out;
}



@keyframes bubbleFloat {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-2%)
    }
    70% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes bubbleSpin {
    0% {
        transform: scale(100%)
    }
    75% {
        transform: scale(105%)
    }
    100% {
        transform: scale(100%)
    }
}

#_innerText {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    animation: typewriter steps(26) 2.5s 3s normal forwards;
}

#_myName {
    animation: highlightName steps(1) 2.5s 6.5s forwards;
}

@keyframes typewriter {
    from {width: 0}
    to {width: 100%}
}

@keyframes highlightName {
    0%{ color: white;}
    80% { background-color: rgb(77, 133, 123);;}
    100% { color: rgb(117, 201, 185); }
}

#_aboutMeArrow {
    transition: 0.5s;
}
#_aboutMeArrow:hover {
    scale: 105%;
}

#_engineerTitle > span {
    font-family: 'Fira Code', monospace; 
    font-size: 25px; 
    line-height: 65px;
}

#_studentText > span {
    font-family: 'Vollkorn', serif; 
    font-size: 155px;
    color: rgb(194, 92, 58);
}