body {
    margin: 0%;
    scale: 100vw;
    display: grid;
    background-color: #e4dfdf;
    overflow: hidden;
}

span::selection {
    background-color: #9cada0;
    color: #e4dfdf;
}

.LoadFadeIn {
    background-color: #d8d2d2;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    animation: loadfadein 0.8s 0.3s normal forwards;
}

@keyframes loadfadein {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

.SorryPage {
    display: none;
    background-color: #d13939;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}

.SorryPage > span {
    text-align: center;
    width: 80vw;
    user-select: none;
    font-size: 7vh;
    font-family: 'Scheherazade New', serif;
    font-weight: 500;
    line-height: 100%;
    color: #e4dfdf;
}

.MainBlock {
    z-index: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-self: center;
    margin-top: 2.5vw;
}

.ScrollArrow {
    opacity: 0%;
    position: absolute;
    /* align-self: center; */
    justify-self: center;
    bottom: 50px;
    width: 50px;
    height: 90px;
    display: grid;
    justify-content: center;
    animation: arrowfadein 2s 5s ease-out normal forwards;
    transition: 0.5s
}

@keyframes arrowfadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
.MainBlock > .BodyTrack {
    z-index: 0;
    margin-top: 55px;
    width: 100%;
    height: 500vh;
    /* transition: 0.8s ease-in-out; */
    display: flex;
    flex-direction: column;
}

.BodyTrack > .ImageTextBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid  #d8d2d2 ;
}

.BodyTrack > .BigImage {
    margin-top: 129.6vh;
    position: absolute !important;
    display: flex;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
}

.ImageTextBlock > .Image {
    height: 100%;
    width: 50%;
    display: grid;
    justify-content: center;
    object-fit: cover !important;
    object-position: center 0%;
}
.BigImage > .StaticImage {
    z-index: 2 !important;
    align-self: center !important;
    width: 100vw !important;
    height: 100vh;
    display: grid;
    object-fit: cover;
    object-position: center 0%;
    justify-content: center;
}

.ImageTextBlock > .TextBlock {
    position: static;
    height: 90%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ImageTextBlock > .InfoBlock {
    align-self: center;
    position: relative;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 30%;

}

.InfoBlock > .InfoText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.InfoText > span {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 5vh;
    color: rgb(32, 32, 32);
}

.DeepInfoText {
    height: 100%;
    width: 40%;
}

.DeepInfoText > span {
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
}

.ResumeDownload {
    width: 155px;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d8d2d2;
    transition: 0.3s;
    border-radius: 3.5%;
}

.ResumeDownload:hover {
    background-color: #9cada0;
}

.ResumeDownload:active {
    transition: 0.1s;
    background-color: #397048;
}

.ResumeDownload > a {
    position: absolute;
    width: inherit;
    height: inherit;
}
.TextBlock > span {
    user-select: none;
    opacity: 0%;
    position: static;
    font-family: 'Scheherazade New', serif;
    font-weight: 600;
    color: rgb(32, 32, 32);
    font-size: 185px;
    line-height: 20vh;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: titlecarddropin 2s 1s normal forwards;
}

@keyframes titlecarddropin {
    0% {
        opacity: 100%;
        height: 0%;
    }
    100% {
        opacity: 100%;
        height: 225px;
    }
}

.TopNav {
    width: 95vw;
    height: 55px;
    display: flex;
    justify-self: center;
    position: fixed;
    flex-direction: row;
    z-index: 2;
}

.BotNav {
    width: 95vw;
    height: 55px;
    display: flex;
    justify-self: center;
    position: fixed;
    bottom: 25px;
    flex-direction: row;
    z-index: 2;
}

.TopNav > div {
    height: 100%;
    width: 10%;
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.TopNav > .NameBlock {
    color: rgb(32, 32, 32);
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.TopNav > .LangSelector {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 45%;
    padding-bottom: 3px;
    width: 35px;
    justify-content: center;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}

.LangSelector:hover {
    border-bottom: 1px solid #d8d2d2;
}

.LangSelector > a {
    position: absolute;
    width: inherit;
    height: inherit;
}

.BotNav > .MenuWrapper {
    gap: 8px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    opacity: 0%;
    animation: menufadein 0.5s 3s normal forwards;
}

@keyframes menufadein {
    from {opacity: 0%; transform: translateX(100%)}
    to {opacity: 100%; transform: translateX(0%)}
}

.MenuWrapper > .MenuItem {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 13px;
    width: auto;
    height: auto;
    transition: 0.2s;
}

.MenuItem > a {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 3;
}

.MenuItem:hover {
    margin-bottom: 12%;
}

.MenuItem > img {
    width: 25px;
    filter: brightness(20%);
}

.NameBlock > span {
    user-select: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    animation: typewriter steps(26) 0.3s 3s normal forwards;
}

.BottomBlock {
    z-index: 1;
    width: 100vw;
    height: 125px;
    background-color: #d8d2d2;
    position: absolute;
    bottom: 0%;
    transform: translateY(100%);
}

@keyframes typewriter {
    from {width: 0}
    to {width: 100%}
}

#fadeText {
    opacity: 0%;
    transition: 0.2s;
}

.DesignWindow {
    width: 78vw;
    height: 85vh;
    position: absolute;
    margin-top: 260vh;
    left: 11vw;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    gap: 55px
}

.DesignTextWindow {
    width: 50%;
    height: 100%;
    /* border: 2px solid yellow; */
}

.DesignTextWindow > .DesignTextBlock {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}

.DesignTextBlock > span {
    font-family: 'Scheherazade New', serif;
    font-size: 75px;
    line-height: 80px
}

.DesignWindow > .DesignImage {
    border-radius: 5px;
    height: 100%;
    width: 50%;
    display: grid;
    justify-content: center;
    object-fit: cover !important;
    object-position: center 0%;
}

.BottomScrollBar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #d8d2d2;
    height: 700px;
    width: 200vw;
    margin-top: 535vh;
    transform: translateX(100%);
    gap: 5%;
}

.BottomScrollBar > .ScrollBlock {
    height: 70%;
    width: 15%;
    background-color: #d8d2d2;
}

.ContactButton {
    width: 155px;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d8d2d2;
    transition: 0.3s;
    border-radius: 3.5%;
}

.ContactButton:hover {
    background-color: #9cada0;
}

.ContactButton:active {
    transition: 0.1s;
    background-color: #397048;
}

.ContactButton > a {
    position: absolute;
    width: inherit;
    height: inherit;
}