:root[data-theme="darkmode"] {
    --maincolor: #121212;
    --altcolor: #f3f3f3;
}

:root[data-theme="lightmode"] {
    --maincolor: #f3f3f3;
    --altcolor: #121212;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: var(--maincolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    .main-title {
        margin-bottom: 50vh;
        width: 120px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            color: var(--altcolor);
            font-family: Lobster Two;
            font-size: 30px;
            position: relative;
        }
        .menu {
            position: absolute;
            top: 50px;
            height: 100px;
            width: 100%;
            .item {
                @keyframes dropdown {
                    0% {
                        opacity: 0%;
                        transform: translateY(-15%);
                    }
                    100% {
                        opacity: 100%;
                        transform: translateY(0%);
                    }

                }
                opacity: 0%;
                animation: dropdown 0.3s normal forwards;
                text-decoration: none;
                color: var(--altcolor);
                min-height: 20%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                span {
                    font-size: 13px;
                    font-family: Vollkorn;
                    transition: 0.1s;
                }
            }
            .item:hover span {
                transform: translateX(-2px);
            }
        }
    }
}

.overlay {
    position: fixed;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;   
    .overlay-row {
        display: flex;
        flex-direction: row;
    }
    .edge {
        // background-color: @dmodebody;
        opacity: 0%;
        margin: 32px;
        .corner-text {
            color: var(--altcolor);
            font-size: 20px;
            font-family: Vollkorn;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.corner-tl {
    transform: rotateZ(0deg);
    animation: appear 0.5s 1.3s normal forwards;
}
.corner-tr {
    transform: rotateZ(90deg);
    animation: appear 0.5s 1.3s normal forwards;
}
.corner-bl {
    transform: rotateZ(270deg);
    animation: appear 0.5s 1.3s normal forwards;
}
.corner-br {
    transform: rotateZ(0deg);
    animation: appear 0.5s 1.3s normal forwards;
}

.content-block {
    padding-top: 32px;
    padding-bottom: 32px;
    // border: 2px solid red;
    min-height: 100vh;
    width: 800px;
    .content {
        display: flex;
        flex-direction: column;
        // border: 2px solid green;
        height: 100%;
        width: 100%;
        h2 {
            margin: 0px;
            font-family: Lobster Two;
            color: var(--altcolor);
            font-size: 35px;
        }
    }
}

.menu-wrapper {
    gap: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-height: 25px;
    width: auto;
    opacity: 0%;
    animation: menufadein 0.5s 0.8s normal forwards;
    .menu-item {
        a {
            position: absolute;
            z-index: 3;
        }
        img {
            transition: 0.1s;
            width: 25px;
            filter: brightness(20%);
        }
    }
    .menu-item:hover img {
        transform: translateY(-2px);
        filter: brightness(80%);
    }
}

@keyframes menufadein {
    from {opacity: 0%; transform: translateX(100%)}
    to {opacity: 100%; transform: translateX(0%)}
}