@import "home.css";

@media screen and (max-width: 1090px) { /* If window is small */

    body {
        background-size: 30%;
        transition: 1.5s
    }

    #_footer {
        height: 25% !important;
    }

    #socialhub {
        flex-direction: column;
        justify-content: space-evenly;
        width: 10vw;
        height: 25%;
    }
    #social {
        padding-top: 8px;
    }

    #_body {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;
    }

    #_profileBubble {
        width: 65vw !important;
    }

    .profileImage {
        width: 100% !important;
    }

    #_flavor {
        text-align: center !important;
    }

}

@media screen and ((pointer:coarse) or (pointer:none)) {
    html{
        body{ width: 870 !important;}
    }
    .topbar {
        height: 25vh !important;;
    }
}