@import "home.css";

@media screen and (max-width: 700px) or (pointer: none) {

    body {
        background-size: 30%;
        transition: 1.5s
    }

    #_footer {
        height: 25vh !important;
    }

    #socialhub {
        flex-direction: column;
        justify-content: space-evenly;
        width: 10vw;
        height: 25%;
    }
    #social {
        padding-top: 8px;
    }
}