@media screen and (max-width: 800px) {
    .content-block {
        width: 100vw;
        margin-left: 32px;
        margin-right: 32px;
        h2 {
            display: flex;
            justify-content: center;
        }
    }
}
